<ion-header>
  <ion-navbar *ngIf="SessionObj">
    <ion-title >{{(SessionObj | async)?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >

  <div *ngIf="SessionObj">
    <h1><b>{{(SessionObj | async)?.name}}</b></h1>
    <h4>
    {{speaker}}
  </h4>
    <ion-note>
      {{(SessionObj | async)?.timeStart}} - {{(SessionObj | async)?.timeEnd}}
    </ion-note>
    <div></div>
    <p><b>{{(SessionObj | async)?.location}}</b></p>
    <div></div>
    <p>{{(SessionObj | async)?.description}}</p>
    <div></div>
    <div *ngIf="(SessionObj | async)?.requirement">
      <ion-note color="danger">{{(SessionObj | async)?.requirement}}</ion-note>
    </div>
    <p></p>
    <p></p>
    <div *ngIf="(SessionObj | async)?.speakerNames">
      <ion-item-divider text-start sticky class="item_divider">
        Ομιλητές
      </ion-item-divider>
      <ion-item *ngFor="let session of (SessionObj | async)?.speakerNames">
        <h2 text-wrap>{{session?.fullName}}</h2>
      </ion-item>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <h2 class="attendance" text-center>
      <h2 *ngIf="(SessionObj | async)?.likes >= 2"><b>{{(SessionObj | async)?.likes}} ακόμη θα παρευρεθούν! </b></h2>
      <h2 *ngIf="(SessionObj | async)?.likes == 1"><b>{{(SessionObj | async)?.likes}} ακόμη θα παρευρεθεί!</b> </h2>
      <h2 *ngIf="(SessionObj | async)?.likes == 0"> </h2>
    </h2>
    <button ion-button block (click)="LikeSession(helper)" [disabled]="(LikeObj | async)?.liked == 'true'" >Θα Παρευρεθω!</button>
    <!--<button ion-button block (click)="LoveSession()">Attend</button>-->
  </div>
</ion-content>
