<ion-header>
  <ion-navbar *ngIf="SessionObj">
    <ion-title >{{(SessionObj | async)?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="SessionObj">
    <h1><b>{{(SessionObj | async)?.name}}</b></h1>
    <h4>
    {{speaker}}
  </h4>
    <ion-note>
      {{(SessionObj | async)?.timeStart}} - {{(SessionObj | async)?.timeEnd}}
    </ion-note>
    <div></div>
    <p>{{(SessionObj | async)?.location}}</p>
    <div></div>
    <p>{{(SessionObj | async)?.description}}</p>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <h2 class="attendance" text-center>
      <h2 *ngIf="(SessionObj | async)?.likes >= 2"><b>{{(SessionObj | async)?.likes}} ακόμη θα παρευρεθούν! </b></h2>
      <h2 *ngIf="(SessionObj | async)?.likes == 1"><b>{{(SessionObj | async)?.likes}} ακόμη θα παρευρεθεί!</b> </h2>
      <h2 *ngIf="(SessionObj | async)?.likes == 0"> </h2>
    </h2>
    <button ion-button block (click)="LikeSession(helper)" [disabled]="(LikeObj | async)?.liked == 'true'" >Attend</button>
    <!--<button ion-button block (click)="LoveSession()">Attend</button>-->
  </div>
</ion-content>
