<ion-header>
  <ion-navbar>
    <ion-title>{{speaker?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div *ngIf="speaker">
    <img [src]="speaker.profilePic" [alt]="speaker.name" class="image_speaker"><br>
    <div> </div>

    <p text-center padding-left padding-right >{{speaker?.about}}</p>
    <ion-note text-center text-wrap>
      {{speaker?.desc}}
    </ion-note>
    <div> </div>
    <div> </div>
    <ion-item-divider text-start sticky class="item_divider">
      Speaker's Sessions
    </ion-item-divider>

    <ion-item *ngFor="let session of speaker.session">
      <h2>{{session.title}}</h2>
    </ion-item>
  </div>

</ion-content>
