
.speaker-detail img {
  max-width: 140px;
  border-radius: 50%;
}

.speaker-detail p {
  color: #60646B;

}

.keynote{
  padding-top: 25px;
    //margin-right: auto;
    //margin-left: auto;

}

.item_divider{
  font-weight: bold;
}

.image_speaker{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 120px;
  width: 120px;
  max-height: 120px;
}
