<ion-header>
  <ion-navbar>
    <ion-title>{{speaker?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center *ngIf="speaker">
    <img [src]="speaker.profilePic" [alt]="speaker.name"><br>
    <div> </div>

    <p text-start padding-left padding-right>{{speaker?.about}}</p>

    <div> </div>
    <div> </div>
    <ion-item-divider sticky>
      Speaker's Sessions
    </ion-item-divider>

    <ion-item *ngFor="let session of speaker.session">
      <h2>{{session.title}}</h2>
    </ion-item>
  </div>

</ion-content>
