page-university {

  .dit_p{
    padding-top: 5%;
    font-size: 1.2em;
  }

  .dit_dep{
    max-height: 200px;
    height: 200px;
  }

  ._p{
    padding-top: 15%;
  }

  .img_header{
    margin-left: auto;
    margin-right: auto;
  }

}
